@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Roboto&display=swap');
:root {
    --mint-cream: #EFF6EE;
    --space-cadet: #273043;
    --mystery-quest: 'Mystery Quest', cursive;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
}

body {
    background-image: url(../assets/bg.jpg);
}

main {
    margin: 10vh 15%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 32px;
    background-color: rgba(239, 246, 238, 0.6);
}

main .state {
    flex: 70%;
    display: flex;
    flex-direction: column;
}

main .state .profiles-container {
    flex: 30%;
    display: flex;
}

main .state .profiles-container .profile {
    flex: 50%;
    display: flex;
    justify-content: center;
}

main .state .profiles-container .profile .pic {
    align-self: stretch;
    margin: 2px 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

main .state .moves-container {
    flex: 50%;
    display: flex;
}

main .state .moves-container .move {
    flex: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

main .state .result {
    flex: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--space-cadet);
    font-family: var(--mystery-quest);
    font-weight: bold;
    font-size: x-large;
}

main .state .result span {
    border-bottom: 1px solid var(--mint-cream);
    padding-bottom: 8px
}

main .choices-container {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
}

main .choices-container .text {
    flex: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--space-cadet);
    font-family: var(--roboto);
    font-weight: bold;
    padding-bottom: 8px;
}

main .choices-container .btn-container {
    flex: 70%;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
}

main .choices-container .btn-container button {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--mint-cream);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

main .choices-container .btn-container button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

@media (max-width: 400px) {
    main .state .profiles-container .profile .pic {
        align-self: baseline;
        margin: 2px 0;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    main .choices-container .btn-container button {
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 2px solid var(--mint-cream);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        align-self: baseline;
        width: 100%;
    }
}